/vendor/
/composer.lock
/composer.phar
/.idea/
/.vscode/
/*.sublime-workspace
/*.sublime-project
.DS_Store
Thumbs.db
.phpunit.result.cache
/logs/
/tmp/
vendor/
.env
.env.local
.env.*.local
/.phpstorm.meta.php
/.env